body{
    background-color:whitesmoke;
}
.section-menu{
    max-width: 1050px;
    margin: auto;
    padding: 4rem 0;
}

.section-menu h1{
    font-size: 60px;
    color: #3b3b3b;
}

.food-menu{
    margin: 2rem 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.food-menu ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}
.food-menu ul a{
    padding: 20px 0;
    text-align: center;
    color: #3b3b3b;
}
.food{
    border-bottom: 2px solid #f42f2c;
    padding: 2rem 0;
}
.food h2{
    color: #3b3b3b;
    margin: 0rem 0 2rem 0;
    font-size: 30px;
}
.menu-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.item{
    display: flex;
    background-color: #fff;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.item div{
    margin-left: 10px;
}

.item img{
    width: 100px;
    height: auto;
}
.item p{
    /* background-color: #f42f2c; */
    /* padding: 5px 20px; */
    font-size: 20px;
    color: #f42f2c  ;
    width: 100%;
}
.item h3{
    margin-top: 10px;
    color: #3b3b3b;
}